<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>R.Gillespie's Portfolio</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="app"></div>

    <div>
      <h1>Welcome to whatever this is!</h1>
      <p>I hope to use this website to showcase my work!</p>
      <p>I am an illustrator and junior web developer</p>
    </div>
  </body>
</html>
